@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

table {
    border-style: groove;
    border-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formAlta{
    margin: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.separar{
    margin-bottom: 16px;
}





